#formulario {
    background: rgba(63, 64, 66, 0.7);
    transition: 0.5s;
    width: 60%;
}

.form-control {
    width: 85%;
    font-size: 18px;
    margin: auto;
}

#tabla {
    text-align: left;
}

#inicio .btn-get-started {
    margin-left: 25px;
    margin-bottom: 25px;
}


.loginfixed {
    margin-top: 360px;
    transition: 0.5s;
}


.calc {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;

    text-decoration: none;
    display: inline-block;

    border-radius: 50px;
    transition: 0.5s;

    border: 2px solid #fff;
    color: #fff;
}

.calc:hover {
    background: #2dc997;
    border: 2px solid #2dc997;
    color: #fff;
}









